* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  margin: 0;
  font-family:Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  display: flex;
  gap: 10px;
  height: 100vh;
  min-width: 375px;
  min-height: 450px;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0.8), rgba(0, 0, 0, 0.8));
}

@media (max-width:550px) {
  .main{
    flex-direction:column-reverse;
  }
}
